TWEEK_REFRESH_TOKEN=your_refresh_token_here
TWEEK_FIREBASE_KEY=AIzaSyDtjavFfRE1wci9XTbzBneJYo7QgL4HP1E
TWEEK_CALENDAR_ID=foMWcabECsbyDSl59vtC

GCAL_ICAL_URL_1=https://calendar.google.com/calendar/ical/your_personal_calendar.ics
GCAL_ICAL_URL_2=https://calendar.google.com/calendar/ical/your_shared_calendar.ics

GMAIL_USER=htrenear7@gmail.com
GMAIL_APP_PASS=your_gmail_app_password_here
EMAIL_TO=htrenear7@gmail.com
